body {
    background-color: #A9AFB8;
}

#P1 {
    height: 560px;
    margin-bottom: 50px;
}

#intro {
    width: 400px;
    height: 150px;
    position: absolute;
    background-color: #AEA7A1;
    border: 3px solid black;
    padding-left: 10px ;
    padding-top: 10px ;
    top: 10px ;
}

#col-8 {
    position: absolute;
    right: 0;
    height: 200px;
    width: 800px;
}

.carousel-item img {
    border: 5px solid black;
}

.card {
    width: 300px;
    background-color: azure;
}

.card-img-top {
    height: 250px;
    width: 170px;
}