body {
    background-color: #8F96A3;
    color: #D3D4D2;
    font-family: rivendell, candara, monospace;
}

#P1 {
    height: 560px;
    width: 80% ;
    overflow: hidden;
    margin-bottom: 50px;
}

#intro {
    width: 400px;
    height: 190px;
    position: absolute;
    background-color: #AEA7A1;
    box-shadow: 5px 5px 10px #5c4f4b;
    color: #D3D4D2;
    font-family: rivendell, candara, monospace;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    transform: translateX(-100%);
    transition: transform 3s ease-out;
    left: 65px;
    top: 180px;
}

#col-8 {
    position: absolute;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    height: 570px;
    width: 800px;
    transform: translateX(100%);
    transition: transform 3s ease-out;
    border-radius: 5px;
    border: 4px solid #5c4f4b;
}

#booksintro {
    height: 110px;
    margin: 30px;
    padding-top: 10px;
    text-align: center;
    color: #D3D4D2;
    background-color: #AEA7A1;
}

#displaybook {
    height: 600px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.card {
    width: 300px;
    background-color: azure;
}

#book1 {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;   
}

#book2 {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1.75s ease-out, opacity 1.75s ease-out;
}

#book3 {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 2s ease-out, opacity 2s ease-out;
}

#book1.animate,
#book2.animate,
#book3.animate {
    transform: translateY(0);
    opacity: 1;
}

.card-img-top {
    height: 250px;
    width: 170px;
}

#galleryintro {
    height: 100px;
    margin: 30px;
    padding-top: 10px;
    text-align: center;
    color: #D3D4D2;
    background-color: #AEA7A1;
}

#galleryslides{
    margin: 0 ;
    overflow: hidden;
    margin-bottom: 50px ;
}

.galleryimg {
    border: 5px solid black;
}

#gal1strow {
    background-color: A9AFB8;
    margin-right: 50px;
    display: flex;
    justify-content: end;
    transform: translateX(-100%);
    transition: transform 4s ease-out;
}

#gal2ndrow {
    background-color: A9AFB8;
    margin-left: 50px;
    margin-top: 5px;
    transform: translateX(100%);
    transition: transform 4s ease-out;
}

#col-8.animate,
#intro.animate,
#gal2ndrow.animate,
#gal1strow.animate {
    transform: translateX(0);
}